<!-- Validation failure messages -->
<% if @song_vote.errors.any? %>
  <% @song_vote.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Song Vote #<%= @song_vote.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_song_vote/<%= @song_vote.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @song_vote.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for song_id -->
      <div class="form-group">
        <label for="song_id" class="control-label">
          Song
        </label>

        <%= select_tag(:song_id, options_from_collection_for_select(Song.all, :id, :name, @song_vote.song_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Song Vote
      </button>
      or
      <a href="/song_votes/<%= @song_vote.id %>">Cancel</a>
    </form>
  </div>
</div>
