<div class="page-header">
  <h3>Drink #<%= @drink.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @drink.name %></dd>

      <dt>Category</dt>
      <dd><%= @drink.category_id %></dd>

      <dt>User</dt>
      <dd><%= @drink.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/drinks" class="btn btn-primary">
        Back
      </a>
      <a href="/drinks/<%= @drink.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_drink/<%= @drink.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Drink has many drink_votes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Drink Votes
      </li>

      <% @drink.drink_votes.each do |drink_vote| %>
        <li class="list-group-item">
          <a href="/drink_votes/<%= drink_vote.id %>">
            <%= drink_vote.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/drink_votes/<%= drink_vote.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/drink_votes/<%= drink_vote.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_drink_vote/<%= drink_vote.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Drink has many votes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Votes
      </li>

      <% @drink.votes.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
