<div class="page-header">
  <h3>Song #<%= @song.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Artist</dt>
      <dd>
        <% if @song.artist.present? %>
          <a href="/artists/<%= @song.artist_id %>">
            <%= @song.artist.name %>
          </a>
        <% end %>
      </dd>

      <dt>Name</dt>
      <dd><%= @song.name %></dd>

      <dt>User</dt>
      <dd>
        <% if @song.user.present? %>
          <a href="/users/<%= @song.user_id %>">
            <%= @song.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/songs" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @song.user %>
        <a href="/songs/<%= @song.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_song/<%= @song.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Song has many song_votes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Song Votes
      </li>

      <% @song.song_votes.each do |song_vote| %>
        <li class="list-group-item">
          <a href="/song_votes/<%= song_vote.id %>">
            <%= song_vote.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/song_votes/<%= song_vote.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/song_votes/<%= song_vote.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_song_vote/<%= song_vote.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_song_vote" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for song_id -->
      <input type="hidden" name="song_id" value="<%= @song.id %>">

      <button class="btn btn-block btn-success">
        Create Song Vote
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
